/* styles.css */

/* Overall container styling */
.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(70, 2, 60, 0.5); /* Set the background color to be transparent */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the alpha value here for the box shadow transparency */
    margin-top: 105px;
}

/* Heading styling */
h1 {
    font-size: 24px;
}

/* Input field styling */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Search button styling */
button {
    background-color: #032e5c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Weather info styling */
.weather-info {
    margin-top: 20px;
}

/* Additional styles can be added as needed */

/* Example: Styling the temperature display */
#temperature {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
